{% extends 'basic_common/mybase.html' %}/
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div id="auth-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal">
                        <span class="heading">用户登录</span>
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            {{ form.email(class="form-control", id="inputEmail", placeholder="用户名或电子邮箱") }}
                        </div>
                         <div class="form-group help">
                             <i class="fa fa-lock"></i>
                            {{ form.password(class="form-control", id="inputPassword", placeholder="请输入密码") }}
                            <a href="#" class="fa fa-question-circle"></a>
                        </div>
                        <div class="form-group">
                            <div class="main-checkbox">
                                {{ form.remember_me() }}
                                <label for="remember_me"></label>
                            </div>
                            <span class="text">记住我</span>
                            {{ form.submit(class='btn', value='登录') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="col-md-offset-3 col-md-6">#}
{#            <form class="form-horizontal" id="login_form">#}
{#                <span class="h3">请登录</span>#}
{#                <div class="form-group">#}
{#                    {{ form.email(class="form-control", id="inputEmail", placeholder="用户名或电子邮箱") }}#}
{#                    <i class="fa fa-user"></i>#}
{#                </div>#}
{#                <div class="form-group help">#}
{#                    {{ form.password(class="form-control", id="inputPassword", placeholder="请输入密码") }}#}
{#                    <i class="fa fa-lock"></i>#}
{#                    <a href="#" class="fa fa-question-circle"></a>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <div class="col-lg-6">#}
{#                        {{ form.remember_me() }}#}
{#                    </div>#}
{#                    <span class="text-left">记住我</span>#}
{#                    {{ form.submit(class='btn') }}#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#{% endblock content %}#}