{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang='zh-CN' {% endblock html_attribs %}
{% block title %}Mollusk{% endblock title %}  # 网页名
{% block metas %}
    {{ super() }}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
{% endblock metas %}
{% block styles %}
    {{ super() }}
    <!-- Main Stylesheet File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock styles %}
{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.png') }}">
    <link href="{{ url_for('static', filename='image/apple-touch-icon.png') }}" rel="apple-touch-icon">
{% endblock head %}
{% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="pull-left" href="#">
                    <img class="img-responsive" src="{{ url_for('static', filename='image/logo3.png') }}">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.index') }}">首页</a></li>
                    <li><a href="{{ url_for('main.works') }}">业务</a></li>
                    <li><a href="{{ url_for('main.about') }}">关于</a></li>
                    <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> 注册</a> </li>
                    {% if current_user.is_authenticated %}
                        <li><a href=" {{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    {% endif %}
                    <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
          <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock navbar %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
       $(function () {
          $(".navbar-nav").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
              $(this).addClass("active");
            } else {
              $(this).removeClass("active");
            }
          });
        })
    </script>
{% endblock %}